# Google Drive Config
# El ID de la carpeta que contiene los catálogos
GOOGLE_DRIVE_FOLDER_ID=18_9_zlE5K-U9al9giehzHx5ambPcs5G4

# El contenido completo del archivo JSON de la Service Account obtenido de Google Cloud Console
# Importante: En Vercel pegar el contenido literal incluyendo las llaves { }
GOOGLE_SERVICE_ACCOUNT_JSON={"type": "service_account", "project_id": "...", "private_key_id": "...", "private_key": "...", ...}
